:root {
    --vp-c-brand: #4faaef;
    --vp-c-bg: #fafafa;

    .VPFooter{
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 8px;
    }
    .VPFooter a {
        text-decoration-line: none;
    }

    .VPFooter a:hover {
        color: var(--vp-c-brand);
    }
}